<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firebase.unityfirebase">

    <uses-sdk android:targetSdkVersion="26" android:minSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>